header{
	display: block;
	background: #286af0;
	padding: 10px 0px;
}
nav{
	float: left;
	background: #CCF;
	flex: 1 6 20%;
	order: 1;
	width: 100%;
	height: 80%;
}
article{
	width: 79%;
	background: #ccc;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top: 30px;
}
aside{
	float: right;
	border: 1px green solid;
	width: 19%;
	border: 1px orange solid;
}
footer{
	position: relative;
	margin-top: 50px;
	height: 80%;
	padding: 5px 0px;
	clear: both;
	background: #286af0;
	text-align: center;
	color: #fff;
}
h2{
	color: red;
}
div{
	clear: both;
}
div > ul{
	text-align: left;
	list-style-type: none;
}
div > ul ol{
	list-style: arabic-indic; 
}
.contactos{
	text-align: left;
	list-style-type: none;
}
.luz{
	margin: 0;
	display: table;
}
#Formulario{
	background: #DB7093;
}