*{
	padding: 0px;
	margin: 0px;

	outline: 0;
}
html{
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
header{
	display: block;
	padding: 10px 0px;
	height: 60px;
	width: 100%;
	box-shadow: 1px 1px 10px #333;
	color: #fff;
	background: #FF1744;
	padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0px;
}
form{
	color: #555;
	background-color: #FFCDD2;
	padding: 15px 0px 0px 0px;
	box-shadow: 3px 3px 6px 0px  #555;
}
form h1{
	margin: 15px 0px;
}
form>h1{
	margin: 10px 0px 20px 15px;
}
fieldset{
	border: none;
	background-color: #FFEBEE;
	padding: 10px;
}

input[type="text"], 
input[type="date"]{
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}
ul{
	list-style: none;
	padding: 10px;
}
li{
	margin: 5px;
}
a.btn{
	text-decoration: none;
}
.btn{
	font-size: .9em;
	border: none;
	background-color: #FF1744;
	color: #fff;
	border-radius: 5px;
	padding: 6px 10px;
	text-align: center;
}
table{
	width: 100%;
}
tr:nth-child(odd){
	background-color: #EF9A9A;
}
td{
	margin: 0px;
	height: 30px;
	width: 50px;
	text-align: center;
	vertical-align: center;
}
.contactos{
	text-align: left;
	list-style-type: none;
}
.luz{
	margin: 0;
	display: table;
}
#Formulario{
	margin: 20px;
	position: relative;

}